.roadmap {
	padding-bottom: 150px;
	font-family: 'ClanProNews', 'Titillium Web', sans-serif;
}

.roadmap h1,
.roadmap h2,
.roadmap h3,
.roadmap h4,
.roadmap h5,
.roadmap p,
.roadmap li {
	font-family: 'ClanProNews', 'Titillium Web', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.roadmap h1 {
	font-size: 1.75em;
	font-weight: 700;
	text-align: center;
	margin: 35px 0 25px 0;
}

/*@media screen and (max-width: 767px){
	.roadmap h1 {
		font-size: 3em;
	}
}*/

#roadmap_intro {
	width: 1040px;
	max-width: 100%;
	padding: 0 20px;
	display: block;
	margin: 0 auto;
	position: relative;
}

#roadmap_intro h2 {
	font-weight: 400;
	margin-bottom: 24px;
	font-size: 1.2em;
	text-align: center;
}

#roadmap_legend {
	padding-top: 18px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}

#roadmap_legend .legend_item {
	padding-left: 14px;
	display: flex;
	align-items: center;
}

#roadmap_legend .legend_item:first-child {
	padding-left: 0;
}

#roadmap_legend .legend_item img {
	width: 22px;
	max-width: 100%;
	display: inline-block;
	margin-right: 8px;
}

#roadmap_legend .legend_item p {
	margin: 0;
	display: inline-block;
	font-size: 1em;
}

#roadmap_calendar {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}

/*If two columns in last row, this prevents the last column from 'floating' to the right*/
#roadmap_calendar::after {
	content: " ";
	max-width: 32%;
	flex: 0 0 32%;
}

.roadmap_month {
	border-radius: 0;
	background-color: #f7f7f7;
	overflow: hidden;
	max-width: 32%;
	flex: 0 0 32%;
	margin-bottom: 16px;
	box-shadow: 0px 2px 20px -1px rgba(0,0,0,0.35);
	position: relative;

	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 991px){
	.roadmap_month {
		max-width: 48.5%;
		flex: 0 0 48.5%;
		margin-bottom: 18px;
	}
}

@media screen and (max-width: 767px){
	.roadmap_month {
		max-width: 100%;
		flex: 0 0 100%;
		margin-bottom: 20px;
	}
}

.roadmap_month.stage_zero {
	background-color: #eaeae9;
}

.roadmap_month.stage_one {
	background-color: #dcd6c5;
}

.roadmap_month.stage_two {
	background-color: #f8eed0;
}

.roadmap_month header {
	background-color: #333;
	display: flex;
	justify-content: space-between;
	padding: 18px 20px;
}

.roadmap_month.stage_zero header {
	background-color: #848484;
}

.roadmap_month.stage_one header {
	background-color: #b5a78e;
}

.roadmap_month.stage_two header {
	background-color: #f9d77a;
}

.roadmap_month h5 {
	font-size: 1.1em;
	color: #fff;
	font-weight: 600;
	margin: 0;
}

.roadmap_month footer {
	padding: 0 20px 5px 20px;
	text-align: right;
	flex: 1;
	display: flex;
	justify-self: flex-end;
	align-items: flex-end;
	justify-content: flex-end;
}

.roadmap_month footer button {
	background-color: transparent;
	border: none;
	font-size: 2em;
}

.roadmap_month footer button:focus {
	outline: transparent;
}

.month_body {
	padding: 20px 12px 0 12px;
}

.month_body ul {
	margin: 0;
	padding: 0;
}

.month_body li {
	background-repeat: no-repeat;
	list-style-type: none;
	background-size: 16px 16px;
	background-position: 5px 3px;
	padding-left: 35px;
	margin-bottom: 10px;
	font-size: 1em;
}

.month_body li:last-child {
	margin-bottom: 0;
}

.roadmap_li_link {
	font-size: .75em;
	margin: 0 5px;
	color: #666;
	opacity: 0.75;
	transition: opacity 0.25s ease;
}

.roadmap_li_link:hover {
	color: #666;
	opacity: 1;
}

.roadmap_li_link:active,
.roadmap_li_link:focus {
	color: #666;
}

.roadmap_li_link img {
	width: 10px;
}

#developer_intro {
	width: 1040px;
	max-width: 100%;
	padding: 0 20px;
	display: block;
	margin: 0 auto;
	position: relative;
}

#developer_team {
	background-color: #f6f1e2;
	padding: 28px 20px;
	position: relative;
}

#developer_team h2 {
	font-weight: 400;
	margin-bottom: 24px;
	font-size: 1.2em;
	text-align: center;
}

#developer_team p {
	font-size: 1em;
}

#developer_team .dev_team_members {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 1140px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#developer_team .dev_team_members::after {
	content: " ";
	max-width: 32%;
	flex: 0 0 32%;
}

.dev_team_member {
	max-width: 24%;
	flex: 0 0 24%;
	margin-bottom: 16px;
	box-shadow: 0px 2px 20px -1px rgba(0,0,0,0.35);
	position: relative;
	background-color: #fff;

	display: flex;
	flex-direction: column;

}

@media screen and (max-width: 991px){
	.dev_team_member {
		max-width: 32%;
		flex: 0 0 32%;
	}
}

@media screen and (max-width: 767px){
	.dev_team_member {
		max-width: 48.5%;
		flex: 0 0 48.5%;
	}
}

@media screen and (max-width: 500px){
	.dev_team_member {
		max-width: 100%;
		flex: 0 0 100%;
	}
}

.dev_team_member header {
	background-color: #b4a78f;
	padding: 8px 20px;
}

.dev_team_member header h5 {
	color: #fff;
	margin: 0;
	font-size: 1.1em;
}



.dev_team_member .dev_bio {
	padding: 20px 20px 0 20px;
}

.dev_team_member .dev_bio img {
	max-width: 100%;
	margin-bottom: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.dev_team_member footer {
	padding: 20px;
	padding-top: 0;
	flex: 1;
	display: flex;
	justify-self: flex-end;
	align-items: flex-end;
	justify-content: flex-start;
}

.dev_team_member footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.dev_team_member footer ul li {
	display: inline-block;
	margin-right: 12px;
}

.dev_team_member footer ul li:last-child {
	margin-right: 0;
}

#roadmap_future {
	padding: 0 20px 35px 20px;
	position: relative;
}

#roadmap_future h2 {
	font-weight: 400;
	margin-bottom: 24px;
	font-size: 1.2em;
	text-align: center;
}

#roadmap_future p {
	font-size: 1em;
}

#roadmap_future #future_intro {
	width: 1040px;
	max-width: 100%;
	display: block;
	margin: 0 auto 35px auto;
	padding-left: 20px;
	padding-right: 20px;
}

#roadmap_future .future_items_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 1140px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#roadmap_future .future_items_container::after {
	content: " ";
	max-width: 32%;
	flex: 0 0 32%;
}

#roadmap_future .future_item {
	max-width: 32%;
	flex: 0 0 32%;
	margin-bottom: 16px;
	box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.25);
	position: relative;
	padding: 20px;
}

@media screen and (max-width: 767px){
	#roadmap_future .future_item {
		max-width: 48.5%;
		flex: 0 0 48.5%;
	}
}

@media screen and (max-width: 550px){
	#roadmap_future .future_item {
		max-width: 100%;
		flex: 0 0 100%;
	}
}

#roadmap_future .future_item h4 {
	font-size: 1.2em;
	margin-top: 0;
	font-weight: 700;
}

#roadmap_future .future_item p {
	margin-bottom: 4px;
}

#roadmap_future .future_personnel {
	font-weight: 400;
	font-style: italic;
}

.priority-Ongoing {
	background-color: #fff;

}

.priority-Ongoing h4,
.priority-Ongoing .priority_value,
.priority-Ongoing .future_personnel {
	color: #d9663e;
}

.priority-High {
	background-color: #fcf0e9;
}

.priority-High h4,
.priority-High .priority_value,
.priority-High .future_personnel {
	color: #d9663e;
}

.priority-Medium {
	background-color: #dcd6c7;
}

.priority-Medium h4,
.priority-Medium .priority_value {
	color: #32322d;
}

.priority-Medium .fuure_personnel {
	color: #595956;
}

.priority-Low {
	background-color: #f8f5e5;
}

.priority-Low h4,
.priority-Low .priority_value,
.priority-Low .future_personnel {
	color: #fe9704;
}

/*targets. kinda hacky*/
#future_anchor,
#team_anchor,
#history_anchor {
	width: 0;
	height: 0;
	position: absolute;
	top: -135px;
}